[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FSDAM"]
	path = FSDAM
	url = https://github.com/cran/FSDAM
[submodule "chngpt"]
	path = chngpt
	url = https://github.com/youyifong/chngpt
[submodule "copcor"]
	path = copcor
	url = https://github.com/cran/copcor
[submodule "krm"]
	path = krm
	url = https://github.com/cran/krm
[submodule "kyotil"]
	path = kyotil
	url = https://github.com/youyifong/kyotil
[submodule "marginalizedRisk"]
	path = marginalizedRisk
	url = https://github.com/youyifong/marginalizedrisk
[submodule "mdw"]
	path = mdw
	url = https://github.com/cran/mdw
[submodule "robustrank"]
	path = robustrank
	url = https://github.com/cran/robustrank
